<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

<body>
   <%- include("./partials/nav.ejs") %>
  <div class="page not found">
    <h1>404</h1>
  <h2> oops : these site is under construction
      </h2>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>