<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  
<div class="about-content">
  <h1>About-Us</h1>
    <p>STEPS ON HOW TO DOWNLOAD ON GOOGLE DRIVE WITH OR WITHOUT PERMISSION</p>
    <p> CLICK ON THE LINK </p>
    <p> PRESS F12 ON YOUR  KEYBOARD</p>
    <p>  CHECK FOR NETWORK ON BAR AND CLICK ON IT</p>
    <p>  THEN PLAY THE VIDEO </p>
    <p> CHECK FOR VIDEO PLAYBACK AND  OPEN IN ANOTHER TAB OR WINDOW</p>
    <p>IF NOT FOUND REPEAT THE PROCESS</p>
    <p> THEN PRESS THE 3DOTS TO DOWNLOAD</p>
  
</div>
<%- include("./partials/footer.ejs") %>
</body>
</html>